@{
    ViewData["Title"] = "Movies before 2000";
}

<div class="text-center">
    <h1 class="display-4">Movies before 2000</h1>

    @{
        var movies = Movie
            .GetAllMovies()
            .OrderByDescending(x => x.ReleaseYear);

        var count = 0;

        foreach (var movie in movies)
        {
            if (movie.ReleaseYear < 2000)
            {
                count++;     
            }
        }

    <br><p>Number of movies in this list: @count</p>

        foreach (var item in movies)
        {
            if (item.ReleaseYear < 2000)
            {
                <ul>
                    <a href="/Home/this_movie/@(item.Id)">@item.Title</a> 
                    @item.ReleaseYear<br>
                </ul>
            }
        }
    }

</div>