@{
    ViewData["Title"] = "Robin Williams";
}

<div class="text-center">
    <h1 class="display-4">Movies with Robin Williams</h1>
</div>

<h5>Movies starring Robin Williams, sort by alphabetical order</h5>

<div>
    @{
        var movies = Movie
            .GetAllMovies()
            .OrderBy(x => x.Title);
        
        var count = 0;

        foreach (var item in movies)
        {
            if (item.ActorList.Contains("robinwilliams"))
            {
                <li>
                    <a href="/Home/this_movie/@(item.Id)">@item.Title</a> 
                    @item.ReleaseYear<br>
                </li>

                count++;
            }
        }
    }

    <br><p>Number of movies in this list: @count</p>

</div>